body {
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #f4f4f4;
  color: #39474e;
  font-weight: 400; }

button {
  color: black;
  background-color: white;
  border: none;
  border: 1px solid #231f20;
  padding: 10px 20px;
  transition: all 0.5s ease; }

button:hover {
  background-color: #231f20;
  color: white; }

li {
  list-style-type: none; }

.rect {
  background-color: white; }

/* OVERALL CONTAINER */
.container {
  width: 100%;
  padding: 0px; }

/** Header Stylings **/
/* LEFT WIDTH */
.leftSide {
  width: 35%;
  float: left;
  position: relative;
  vertical-align: top;
  z-index: 500;
  display: block;
  position: fixed;
  top: 0;
  color: #231f20;
  padding: 21px 21px; }
  .leftSide .menuIcon {
    font-size: 30px;
    color: #39474e;
    transition: all 0.2s ease; }
  .leftSide .menuIcon:hover {
    font-size: 34px;
    color: #3ac29c;
    transition: all 0.2s ease; }
  .leftSide #title {
    text-align: center;
    margin-top: 50px; }
    .leftSide #title #the {
      font-family: 'Playfair Display', serif;
      font-weight: 400;
      font-style: italic;
      font-size: 75px;
      margin: 0px;
      line-height: 65px; }
    .leftSide #title #iron {
      font-family: 'Playfair Display', serif;
      font-size: 85px;
      font-weight: 900;
      margin: 0px;
      line-height: 75px;
      letter-spacing: 12px;
      padding-left: 12px; }
    .leftSide #title #book {
      font-family: 'Playfair Display', serif;
      font-size: 85px;
      font-weight: 900;
      margin: 0px;
      line-height: 75px; }
    .leftSide #title h3 {
      font-family: 'Playfair Display', serif;
      font-style: italic;
      color: #39474e;
      padding-top: 10px;
      padding-bottom: 10px;
      border-top: 1px solid #231f20;
      border-bottom: 1px solid #231f20; }
  .leftSide #nav {
    opacity: 1;
    margin-top: 20px; }
    .leftSide #nav a {
      font-size: 22px;
      color: #231f20;
      display: block;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      border-top: 1px solid #231f20; }
    .leftSide #nav a:first-child {
      border-top: none; }
    .leftSide #nav a:hover {
      text-decoration: none;
      font-weight: 400;
      background-color: #3ac29c;
      color: white; }

/* RIGHT WIDTH */
.rightSide {
  width: 65%;
  float: right;
  position: relative;
  vertical-align: top; }

/** Home Stylings **/
#homeBox {
  margin: 0;
  padding: 0; }

#homeNav {
  display: block;
  position: fixed;
  width: 100%;
  padding: 8px;
  z-index: 99;
  background-color: #f4f4f4; }
  #homeNav form {
    margin-left: 6%; }
    #homeNav form #sortClick {
      display: inline-block; }
    #homeNav form #sortTouch {
      display: inline; }
  #homeNav label {
    color: #39474e;
    margin-right: 12px;
    font-size: 18px; }

#main {
  display: inline-block;
  position: relative;
  margin-top: 6%; }
  #main ul {
    padding: 0px; }
  #main .smallCard {
    display: inline-block;
    position: relative;
    width: 30%;
    min-height: 320px;
    margin: 10px;
    padding: 10px;
    border: 1px solid lightgrey;
    text-align: center;
    background-color: white;
    box-shadow: 0px 4px 8px 0px rgba(10, 10, 10, 0.75);
    max-height: 321px;
    overflow-y: scroll; }
    #main .smallCard h2 {
      font-size: 25px; }
    #main .smallCard h4 {
      font-size: 20px;
      margin-top: 5px;
      color: #3ac29c;
      padding: 5px;
      border-top: 1px solid lightgrey;
      border-bottom: 1px solid lightgrey; }
    #main .smallCard a {
      font-family: 'Playfair Display', serif;
      font-style: italic;
      position: absolute;
      color: #231f20;
      text-decoration: none;
      padding: 5px;
      font-size: 22px;
      bottom: 2%;
      right: 29%; }
    #main .smallCard a:hover {
      border-top: 1px solid #3ac29c;
      border-bottom: 1px solid #3ac29c;
      color: #3ac29c;
      transition: all 0.2s ease; }
  #main .miniPic {
    width: 150px;
    clear: right; }
  #main hgroup {
    margin: 5px 0 10px 0; }
  #main .coder {
    margin: 0; }
  #main .coderType {
    margin: 0; }

#info {
  position: relative;
  width: 70%;
  background-color: white;
  margin: auto;
  margin-top: 100px;
  padding: 10px;
  border: 1px solid lightgrey;
  box-shadow: 0px 4px 8px 0px rgba(10, 10, 10, 0.75); }
  #info h2 {
    font-size: 45px;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 20px; }
  #info h3 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 30px;
    padding-left: 30px; }
  #info h5 {
    padding-left: 30px;
    font-size: 18px; }
  #info p {
    padding-left: 30px; }

.caro {
  width: 70%;
  margin: auto; }

.carousel {
  margin-top: 60px;
  padding-top: 15px; }
  .carousel .carousel-indicators {
    display: none; }
  .carousel .left {
    background-image: none; }
    .carousel .left span {
      color: lightgrey; }
  .carousel .right {
    background-image: none; }
    .carousel .right span {
      color: lightgrey; }
  .carousel .carousel-caption {
    position: relative;
    padding-bottom: 0px;
    left: 0px;
    right: 0px;
    color: black; }

.largeCard {
  display: inline-block;
  position: relative;
  width: 95%;
  margin-left: 2%;
  margin-bottom: 30px;
  padding: 10px;
  background-color: white;
  box-shadow: 0px 4px 8px 0px rgba(10, 10, 10, 0.75); }
  .largeCard img {
    width: 30%;
    float: left; }
  .largeCard .studInfo {
    font-family: 'Open Sans Condensed', sans-serif;
    float: left;
    margin-left: 25px; }

.form {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; }
  .form .formWelcome {
    text-align: center;
    width: 85%;
    margin: auto; }
    .form .formWelcome h2 {
      font-family: 'Playfair Display', serif;
      font-weight: 700;
      font-size: 45px;
      margin-top: 3%;
      margin-bottom: 0; }
    .form .formWelcome h3 {
      font-family: 'Playfair Display', serif;
      font-style: italic;
      font-size: 30px;
      margin: 0;
      padding-bottom: 2%; }

.newStudentForm {
  width: 85%;
  margin: auto;
  margin-bottom: 50px;
  background-color: white;
  border: 1px solid lightgrey;
  box-shadow: 0px 4px 8px 0px rgba(10, 10, 10, 0.75);
  text-align: center; }
  .newStudentForm h3 {
    font-size: 20px; }
  .newStudentForm > div {
    padding: 1% 2%;
    text-align: center; }
    .newStudentForm > div h3, .newStudentForm > div input {
      display: inline-block; }
  .newStudentForm #bottInpt {
    margin-bottom: 20px;
    background-color: #3ac29c;
    border: none;
    color: #f4f4f4; }
  .newStudentForm .formType, .newStudentForm .formLocation {
    display: inline-block;
    width: 40%; }
  .newStudentForm #aboutYou {
    vertical-align: top;
    margin-top: 0px; }

.formSocial .formGitHubName, .formSocial .formGitHubUrl, .formSocial .formTwitterName, .formSocial .formTwitterUrl {
  display: inline-block;
  width: 46%; }

/** Responsive styling **/
@media all and (max-width: 1030px), screen and (device-aspect-ratio: 16/9) {
  #homeNav form {
    margin-left: 0; }
    #homeNav form #sortClick {
      display: inline-block; } }

@media all and (max-width: 922px), screen and (device-aspect-ratio: 16/9) {
  .carousel {
    margin-top: 10px; }
    .carousel .right span {
      padding: 4px;
      border-radius: 2px;
      background-color: rgba(0, 0, 0, 0.5); }
    .carousel .left span {
      padding: 4px;
      border-radius: 2px;
      background-color: rgba(0, 0, 0, 0.5); }
  .leftSide {
    padding-top: 0;
    padding-bottom: 0;
    display: block;
    position: relative;
    clear: right;
    width: 95%;
    padding-bottom: 3px;
    border-bottom: 1px solid black; }
    .leftSide .fixClick {
      z-index: 600;
      position: fixed;
      width: 100%;
      margin: 0 auto;
      margin-left: -20px;
      background-color: #3ac29c;
      border-bottom: 1px solid black;
      padding: 10px;
      border-radius: 3px; }
    .leftSide .menuIcon:hover {
      color: white; }
    .leftSide #title {
      margin-top: 55px;
      text-align: center;
      margin-bottom: 1px solid black; }
      .leftSide #title hgroup {
        display: inline-block;
        position: relative;
        width: 47%; }
      .leftSide #title h3 {
        vertical-align: top;
        display: inline-block;
        position: relative;
        width: 47%;
        margin-top: 80px; }
  .container .rightSide {
    display: block;
    position: relative;
    width: 100%; }
    .container .rightSide #homeBox #homeNav {
      display: block;
      position: relative;
      box-shadow: 0px 4px 8px 0px rgba(10, 10, 10, 0.75); }
    .container .rightSide #homeBox #main {
      margin-top: 3px;
      overflow-y: scroll; }
      .container .rightSide #homeBox #main .smallCard {
        width: 45%; }
        .container .rightSide #homeBox #main .smallCard .seeMore {
          display: block;
          position: relative;
          margin-top: 15px;
          right: 0; } }

@media all and (max-width: 650px), screen and (device-aspect-ratio: 16/9) {
  #info {
    margin-top: 9%;
    width: 85%; }
    #info li {
      margin-bottom: 10px; }
    #info .odd {
      background-color: #F4F4F4; }
  .form .formWelcome h2, .form .formWelcome h3 {
    font-size: 20px; }
  .leftSide #title hgroup #the {
    font-size: 40px;
    line-height: 40px; }
  .leftSide #title hgroup #iron, .leftSide #title hgroup #book {
    font-size: 50px;
    line-height: 50px; }
  .leftSide #title h3 {
    margin-top: 40px; }
  .container .rightSide #homeBox #homeNav #sortClick {
    width: 20%;
    min-width: 80px; }
  .container .rightSide #homeBox #homeNav #sortTouch {
    display: inline-block;
    position: relative;
    width: 78%;
    text-align: right; }
    .container .rightSide #homeBox #homeNav #sortTouch #search {
      margin-right: 20px; } }

@media all and (max-width: 440px), screen and (device-aspect-ratio: 16/9) {
  #info li h3, #info li h5, #info li p {
    padding-left: 0; }
  .newStudentForm {
    width: 100%; }
    .newStudentForm h3 {
      font-size: 20px; }
    .newStudentForm > div {
      padding: 0; }
  .leftSide #title hgroup {
    padding: 15px 0; }
    .leftSide #title hgroup #the {
      font-size: 28px;
      line-height: 28px; }
    .leftSide #title hgroup #iron, .leftSide #title hgroup #book {
      padding-left: 0;
      font-size: 33px;
      line-height: 33px; }
  .leftSide #title h3 {
    margin-top: 10px;
    font-size: 20px; }
  .container .rightSide #homeBox #homeNav {
    min-height: 105px; }
    .container .rightSide #homeBox #homeNav #sortClick {
      width: 20%;
      vertical-align: top; }
    .container .rightSide #homeBox #homeNav #sortTouch {
      width: 60%;
      float: right;
      right: 0px; }
      .container .rightSide #homeBox #homeNav #sortTouch #search {
        margin-right: 20px; }
  .container .rightSide #homeBox #main .smallCard {
    width: 95%; } }
