$darkGrey: #444444;
$darkBlue: #005680;
$slate: rgb(57, 71, 78);
$darkSlate: rgb(32, 47, 55);
$seafoam: rgb(58, 194, 156);
$blue: #007AB5;
$grey: #D1D1D1;
$black: rgb(35,31,32);
$white: rgb(244, 244, 244);
$font:'Open Sans Condensed', sans-serif;
$font2: 'Playfair Display', serif;
$light: 400;
$heavy: 700;

body {
  margin:0;
  font-family: $font;
  background-color: $white;
  color: $slate;
  font-weight: $light;

}


button {
  color: black;
  background-color: white;
  border: none;
  border: 1px solid $black;
  padding:10px 20px;
  transition: all .5s ease;

}
button:hover {
  background-color: $black;
  color: white;

}
li {
  list-style-type:none;
}

.rect {
  background-color: white;
}

/* OVERALL CONTAINER */
.container{
  width: 100%;
  padding: 0px;
}


/////////////////////////////////////////////////////////
/** Header Stylings **/
/* LEFT WIDTH */
.leftSide{
  width: 35%;
  float: left;
  position: relative;
  vertical-align: top;
  z-index:500;
  display: block;
  position: fixed;
  top:0;
  color: $black;
  padding:21px 21px;
  .menuIcon{
    font-size: 30px;
    color: $slate;
    transition: all .2s ease;
  }
  .menuIcon:hover{
    font-size: 34px;
    color: $seafoam;
    transition: all .2s ease;
  }

  #title {
    text-align: center;
    margin-top: 50px;
    #the{
      font-family: $font2;
      font-weight: 400;
      font-style: italic;
      font-size: 75px;
      margin: 0px;
      line-height: 65px;
    }
    #iron{
      font-family: $font2;
      font-size: 85px;
      font-weight: 900;
      margin: 0px;
      line-height: 75px;
      letter-spacing: 12px;
      padding-left: 12px;
    }
    #book{
      font-family: $font2;
      font-size: 85px;
      font-weight: 900;
      margin: 0px;
      line-height: 75px;
    }
    h3{
      font-family: $font2;
      font-style: italic;
      color: $slate;
      padding-top: 10px;
      padding-bottom: 10px;
      border-top: 1px solid $black;
      border-bottom: 1px solid $black;
    }
  }

  #nav {
    opacity:1;
    margin-top: 20px;
    a {
      font-size: 22px;
      color: $black;
      display: block;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      border-top: 1px solid $black;
    }
    a:first-child{
      border-top: none;
    }
    a:hover {
      text-decoration:none;
      font-weight: $light;
      background-color: $seafoam;
      color: white;
    }
  }
}


/////////////////////////////////////////////////////////
/* RIGHT WIDTH */
.rightSide{
  width: 65%;
  float: right;
  position: relative;
  vertical-align: top;
}

/** Home Stylings **/
#homeBox {
  margin:0;
  padding:0;
}
#homeNav {
  display: block;
  position: fixed;
  width: 100%;
  padding: 8px;
  z-index: 99;
  background-color: $white;
  form{
    #sortClick {
      display:inline-block;
    }
      margin-left: 6%;
    #sortTouch {
      display: inline;
    }
  }
  label{
    color: $slate;
    margin-right: 12px;
    font-size: 18px;
  }
}

//MAIN SECTION
#main {
  display: inline-block;
  position:relative;
  margin-top: 6%;
  ul{
    padding: 0px;
  }

  .smallCard {
    display:inline-block;
    position: relative;
    width:30%;
    min-height: 320px;
    margin:10px;
    padding:10px;
    border: 1px solid lightgrey;
    text-align:center;
    background-color: white;
    box-shadow: 0px 4px 8px 0px rgba(10,10,10,0.75);
    max-height: 321px;
    overflow-y: scroll;
    h2{
      font-size: 25px;
    }
    h4{
      font-size: 20px;
      margin-top: 5px;
      color: $seafoam;
      padding: 5px;
      border-top: 1px solid lightgrey;
      border-bottom: 1px solid lightgrey;
    }
    a{
      font-family: $font2;
      font-style: italic;
      position: absolute;
      color: $black;
      text-decoration: none;
      padding: 5px;
      font-size: 22px;
      bottom: 2%;
      right: 29%;
    }
    a:hover{
      border-top: 1px solid $seafoam;
      border-bottom: 1px solid $seafoam;
      color: $seafoam;
      transition: all .2s ease;
    }
  }
  .miniPic {
    width:150px;
    clear:right;
  }
  hgroup {
    margin:5px 0 10px 0;
  }
  .coder {
    margin:0;

  }
  .coderType {
    margin:0;
  }
}

//INFO SECTION
#info {
  position:relative;
  width:70%;
  background-color:white;
  margin:auto;
  margin-top: 100px;
  padding:10px;
  border: 1px solid lightgrey;
  box-shadow: 0px 4px 8px 0px rgba(10,10,10,0.75);
  h2{
    font-size: 45px;
    font-family: $font2;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  h3{
    font-family: $font2;
    font-style: italic;
    font-size: 30px;
    padding-left: 30px;
  }
  h5{
    padding-left: 30px;
    font-size: 18px;
  }
  p{
    padding-left: 30px;
  }
}

//STUDENT SECTION
.caro{
  width: 70%;
  margin: auto;
}

.carousel {
   margin-top: 60px;
   padding-top: 15px;
  .carousel-indicators {
    display: none;
  }
  .left{
    background-image: none;
    span{
      color: lightgrey;
    }
  }
  .right{
    background-image: none;
    span{
      color: lightgrey;
    }
  }
  .carousel-caption {
    position: relative;
    padding-bottom: 0px;
    left: 0px;
    right: 0px;
    color: black;
  }
}

 .largeCard {
    display:inline-block;
    position: relative;
    width: 95%;
    margin-left: 2%;
    margin-bottom: 30px;
    padding:10px;
    background-color: white;
    box-shadow: 0px 4px 8px 0px rgba(10,10,10,0.75);
    img {
      width: 30%;
      float: left;
    }
    .studInfo{
      font-family: $font;
      float: left;
      margin-left: 25px;
    }
  }






//ENROLL SECTION

.form {
  position: relative;
  width:100%;
  margin:0;
  padding:0;
  background-color:$white;

  .formWelcome {
    text-align: center;
    width: 85%;
    margin: auto;

    h2 {
      font-family: $font2;
      font-weight: 700;
      font-size: 45px;
      margin-top:3%;
      margin-bottom:0;
    }

    h3 {
      font-family: $font2;
      font-style: italic;
      font-size: 30px;
      margin:0;
      padding-bottom:2%;
    }
  }
}

.newStudentForm {
  width: 85%;
  margin: auto;
  margin-bottom: 50px;
  background-color: white;
  border: 1px solid lightgrey;
  box-shadow: 0px 4px 8px 0px rgba(10,10,10,0.75);
  text-align: center;
    h3{
      font-size: 20px;
    }
  > div {
    padding:1% 2%;
    text-align:center;

    h3, input {
      display:inline-block;
    }

  }
  #bottInpt{
    margin-bottom: 20px;
    background-color: $seafoam;
    border: none;
    color: $white;
  }
  .formType, .formLocation {
    display:inline-block;
    width:40%;
  }
  #aboutYou{
    vertical-align: top;
    margin-top: 0px;
  }
}

.formSocial {

  .formGitHubName, .formGitHubUrl, .formTwitterName, .formTwitterUrl {
    display:inline-block;
    width:46%;
  }

}

////////////////////////////////////////////////
/** Responsive styling **/
@media all and (max-width: 1030px), screen and (device-aspect-ratio: 16/9) {
  #homeNav {
    form{
      margin-left: 0;
      #sortClick {
        display:inline-block;
      }
    }
  }
}

@media all and (max-width: 922px), screen and (device-aspect-ratio: 16/9)  {
  .carousel {
    margin-top:10px;
    .right {
      span {
        padding:4px;
        border-radius:2px;
        background-color: rgba(0,0,0,0.5);
      }
    }
    .left {
      span {
        padding:4px;
        border-radius:2px;
        background-color: rgba(0,0,0,0.5);
      }
    }
  }
  .leftSide {
    padding-top: 0;
    padding-bottom:0;
    display:block;
    position: relative;
    clear: right;
    width:95%;
    padding-bottom: 3px;
    border-bottom: 1px solid black;
    .fixClick {
      z-index:600;
      position: fixed;
      width: 100%;
      margin: 0 auto;
      margin-left:-20px;
      background-color: #3ac29c;
      border-bottom: 1px solid black;
      padding:10px;
      border-radius:3px;
    }
    .menuIcon:hover {
      color:white;
    }
    #title {
      margin-top: 55px;
      text-align: center;
      margin-bottom: 1px solid black;
      hgroup {
        display: inline-block;
        position: relative;
        width: 47%;
      }
      h3 {
        vertical-align: top;
        display: inline-block;
        position: relative;
        width: 47%;
        margin-top: 80px
      }
    }
  }
  .container {
    .rightSide {
      display:block;
      position: relative;
      width:100%;
      #homeBox {
        #homeNav {
          display: block;
          position: relative;
          box-shadow: 0px 4px 8px 0px rgba(10,10,10,0.75);
        }
        #main {
          margin-top: 3px;
          //max-height:370px;
          overflow-y: scroll;
          .smallCard {
            width: 45%;
            .seeMore {
              display: block;
              position: relative;
              margin-top: 15px;
              right: 0;
            }
          }
        }
      }
    }
  }

}

@media all and (max-width: 650px), screen and (device-aspect-ratio: 16/9) {
  #info {
    margin-top:9%;
    width:85%;
    li {
      margin-bottom:10px;
    }
    .odd {
      background-color:#F4F4F4;
    }
  }
  .form .formWelcome h2, .form .formWelcome h3 {
    font-size:20px;
  }
  .leftSide {

    .fixClick {

    }
    .menuIcon:hover {

    }
    #title {
      hgroup {
        #the {
          font-size: 40px;
          line-height: 40px;
        }
        #iron, #book {
          font-size: 50px;
          line-height: 50px;
        }
      }
      h3 {
        margin-top:40px;
      }
    }
  }
  .container {
    .rightSide {

      #homeBox {
        #homeNav {
          #sortClick {
            width:20%;
            min-width:80px;
          }
        #sortTouch {
          display: inline-block;
          position: relative;
          width: 78%;
          text-align:right;
          #search {
            margin-right:20px;
          }
        }

        }
        #main {

        }
      }
    }
  }

}

@media all and (max-width:440px), screen and (device-aspect-ratio: 16/9) {
  #info {
    li {
      h3, h5, p {
        padding-left:0;
      }
    }
  }
  .newStudentForm {
    width: 100%;
      h3{
        font-size: 20px;
      }
    > div {
        padding:0;
    }
  }


  .leftSide {
    #title {
      hgroup {
        padding: 15px 0;
        #the {
          font-size: 28px;
          line-height:28px;
        }
        #iron, #book {
          padding-left:0;
          font-size: 33px;
          line-height: 33px;
        }
      }
      h3 {
        margin-top:10px;
        font-size:20px;
      }
    }
  }
  .container {
    .rightSide {

      #homeBox {
        #homeNav {
          min-height:105px;
          #sortClick {
            width:20%;
            vertical-align:top;
          }
          #sortTouch {
            width: 60%;
            float:right;
            right:0px;
            #search {
              margin-right:20px;
            }
          }
        }
        #main {
          .smallCard {
            width: 95%;

          }
        }
      }
    }
  }

}
