body {
  margin: 0;
  padding-top: 128px;
  font-family: 'News Cycle', sans-serif;
  background-color: #E7EAF2;
  color: #007AB5;
  font-weight: 400;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position-x: 50%;
  background-position-y: 100px; }

a {
  text-decoration: none;
  color: #007AB5;
  transition: 0.4s; }

a:hover {
  text-decoration: underline;
  font-weight: 700; }

button {
  color: #E7EAF2;
  background-color: #007AB5;
  border: none;
  padding: 10px 20px;
  transition: 0.4s;
  border-bottom: 2px solid #005680;
  border-right: 2px solid #005680; }

button:hover {
  background-color: #005680;
  border-bottom: 2px solid #007AB5;
  border-right: 2px solid #007AB5; }

li {
  list-style-type: none; }

.shadow {
  box-shadow: 2px 2px 2px 0px rgba(68, 68, 68, 0.8); }

.rect {
  background-color: #D1D1D1; }

/** Header Stylings **/
header {
  z-index: 500;
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgba(0, 86, 128, 0.9);
  color: #E7EAF2;
  padding: 21px 10px;
  text-align: center; }

#title {
  opacity: 1;
  font-weight: bold;
  display: inline-block;
  font-size: 2em;
  margin: 0; }

#nav {
  opacity: 1; }
  #nav a {
    color: #E7EAF2; }
  #nav a:hover {
    text-decoration: none;
    font-weight: 400; }

/** Home Stylings **/
#homeBox {
  width: 100%;
  margin: 0;
  padding: 0; }

#homeNav {
  display: block;
  position: fixed;
  width: 99%;
  margin: 10px 0;
  padding: 5px;
  text-align: right;
  z-index: 99; }

#main {
  display: inline-block;
  position: relative;
  margin-top: 5%;
  width: 65%;
  /* height: 575px;
  overflow-y:scroll; */ }
  #main .smallCard {
    display: inline-block;
    position: relative;
    width: 28%;
    background-color: #D1D1D1;
    margin: 10px;
    padding: 10px;
    border-radius: 5px; }
  #main .coder {
    display: inline-block; }
  #main .miniPic {
    width: 50px; }

#info {
  display: inline-block;
  position: relative;
  clear: right;
  vertical-align: top;
  width: 30%;
  background-color: #D1D1D1;
  margin: 7% 0 0 0;
  padding: 10px;
  border-radius: 5px; }

.form {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #E7EAF2; }
  .form .formWelcome {
    text-align: center;
    background-color: #D1D1D1;
    width: 50%;
    margin: 0 25%; }
    .form .formWelcome h2 {
      margin-top: 2%;
      margin-bottom: 0; }
    .form .formWelcome p {
      margin: 0;
      padding-bottom: 1%; }

.newStudentForm {
  width: 60%;
  margin: 1% 19%;
  background-color: #D1D1D1;
  text-align: center; }
  .newStudentForm > div {
    padding: 1% 2%;
    text-align: center; }
    .newStudentForm > div h3, .newStudentForm > div input {
      display: inline-block; }
  .newStudentForm .formType, .newStudentForm .formLocation {
    display: inline-block;
    width: 40%; }

.formSocial .formGitHubName, .formSocial .formGitHubUrl, .formSocial .formTwitterName, .formSocial .formTwitterUrl {
  display: inline-block;
  width: 46%; }
.formSocial .formAbout h3, .formSocial .formAbout textarea {
  display: block; }
