<h2>Welcome to the Iron Yard</h2>
<p>We're happy to have you.</p>
<form class="newStudentForm">
  <div class="formName">
    <h3>Name:</h3>
    <input type="text" placeholder="Type Name Here">
  </div>
  <div class="formSocial">

    <div class="formGitHubName">
      <h3>GitHub Name:</h3>
      <input type="text" placeholder="Type GitHub Name Here">
    </div>

    <div class="formGitHubUrl">
      <h3>GitHub URL:</h3>
      <input type="text" placeholder="Type GitHub URL Here">
    </div>

    <div class="formTwitterName">
      <h3>Twitter Handle:</h3>
      <input type="text" placeholder="Type Twitter Name Here">
    </div>

    <div class="formTwitterUrl">
      <h3>Twitter URL:</h3>
      <input type="text" placeholder="Type Twitter URL Here">
    </div>

    <div class="formBlogUrl">
      <h3>Blog URL:</h3>
      <input type="text" placeholder="Type Blog URL Here">
    </div>
    
  </div>
</form>
