<div id="homeBox">
  <nav id="homeNav" class="shadow rect">

    <form action="" ng-submit="">
      <label for="sort" ng-init="predicate=''">
        Name
        <img style="transform: rotate(180deg)" ng-hide="wow" src="../images/down.gif" alt="sort a-z" ng-click="predicate='name'; wow=!wow">
        <img src="../images/down.gif" alt="sort z-a" ng-hide="!wow" ng-click="predicate='-name'; wow=!wow">
      </label>
      <label for="sort" ng-init="predicate=''">
        Type
        <img style="transform: rotate(180deg)" src="../images/down.gif" alt="sort a-z" ng-hide="amo" ng-click="predicate='type'; amo=!amo">
        <img src="../images/down.gif" alt="sort z-a" ng-hide="!amo" ng-click="predicate='-type'; amo=!amo">
      </label>

      <label for="courseFilter">
        Filter by Course
        <select name="cFilter" id="courseFilter" ng-model="search.type">
          <option value="">

          </option>
          <option value="Front End Engineer">
            Front End Engineers
          </option>
          <option value="Back End Engineer">
            Back End Engineers
          </option>
          <option value="Staff">
            Staff
          </option>
        </select>
      </label>

      <input type="text" placeholder="Search by Name" ng-model="search.name">
    </form>

  </nav>

  <article id="main">

    <ul>
      <li class="smallCard shadow" ng-repeat="i in studentData | filter : search : strict | orderBy : predicate">

        <img class="miniPic" ng-src="{{i.img}}" alt="">
        <hgroup>
          <h2 class="coder">
            {{i.name}}
          </h2>
          <h4 class="coderType">{{i.type}}</h4>
        </hgroup>
        <span ng-init="idx = findStudent(i.name)"></span>
        <a  href="#/student/{{idx}}"><button>See more</button></a>
      </li>
      <li class="animate-repeat" ng-if="search.length == 0">
      <strong>No results found...</strong>
      </li>
    </ul>

  </article>

  <section id="info" class="shadow" ng-repeat="update in updates">
    <h2>Iron Updates</h2>
    <h3>{{update.title}}</h3>
    <h5>{{update.author}}</h5>
    <div>
      {{update.content}}
    </div>
  </section>

</div>
