<div id="homeBox">
  <nav id="homeNav" class="rect">

    <form action="" ng-submit="">
      <div id="sortClick">
        <label for="sort" ng-init="predicate=''">
          Name
          <img style="transform: rotate(180deg)" ng-hide="wow" src="./images/down.gif" alt="sort a-z" ng-click="predicate='name'; wow=!wow">
          <img src="./images/down.gif" alt="sort z-a" ng-hide="!wow" ng-click="predicate='-name'; wow=!wow">
        </label>
        <label for="sort" ng-init="predicate=''">
          Type
          <img style="transform: rotate(180deg)" src="./images/down.gif" alt="sort a-z" ng-hide="amo" ng-click="predicate='type'; amo=!amo">
          <img src="./images/down.gif" alt="sort z-a" ng-hide="!amo" ng-click="predicate='-type'; amo=!amo">
        </label>
      </div>

      <div id="sortTouch">
        <label for="courseFilter">
          Filter by Course
          <select name="cFilter" id="courseFilter" ng-model="search.type">
            <option value="">

            </option>
            <option value="Front End Engineer">
              Front End Engineers
            </option>
            <option value="Back End Engineer">
              Back End Engineers
            </option>
            <option value="Staff">
              Staff
            </option>
          </select>
        </label>

        <input id="search" type="text" placeholder="Search by Name" ng-model="search.name">
      </div>

    </form>

  </nav>

  <article id="main">

    <ul>
      <li class="smallCard" ng-repeat="i in studentData | filter : search : strict | orderBy : predicate">

        <img class="miniPic" ng-src="{{i.img}}" alt="">
        <hgroup>
          <h2 class="coder">
            {{i.name}}
          </h2>
          <h4 class="coderType">{{i.type}}</h4>
        </hgroup>
        <span ng-init="idx = findStudent(i.name)"></span>
        <a class="seeMore" href="#/student/{{idx}}">See More</a>
      </li>
      <li class="animate-repeat" ng-if="search.length == 0">
      <strong>No results found...</strong>
      </li>
    </ul>

  </article>

<!--   <ul id="info">
  <h2>Upcoming Events</h2>
  <li ng-repeat="update in updates | dateFilter">
    <h3>{{update.title}}</h3>
    <h5>{{update.eDt}} @ {{update.time}}</h5>
    <p>{{update.content}}</p>
  </li>
</ul> -->

</div>
