<div ng-controller="CarouselDemoCtrl">
	<div style="height: 300px">
		<carousel interval="myInterval">
			<slide ng-repeat="i in studentData | filter:{ type : '!Staff' }" active="slide.active">
				<img ng-src="{{i.img}}" style="margin:auto; height: 200px;">
				<div class="carousel-caption">
					<h4>{{i.name}}</h4>
				</div>
			</slide>
		</carousel>
	</div>
</div>


<div>
	<div class="largeCard">
		<img ng-src="{{studentData[indexNumber].img}}" alt="">
		<h2>{{studentData[indexNumber].name}}</h2>
		<h3>{{studentData[indexNumber].ghUser}}</h3>
		<h3>{{studentData[indexNumber].tHandle}}</h3>
	</div>

</div>
